.ryan {


}

.dirty-secret {


}

body {
  background-image: url(http://thumbs.dreamstime.com/z/background-dog-paw-print-bone-35788678.jpg);
  text-align: center;

}

.top {
  font-size: 18px;
}

.title {
  font-size: 18px;
  border: 2px;
  background-color:#ffcc99;
}

.title2 {
  background-color: #ff8000;
}
